body{
  background-color: lightblue;
}



img{
  /* transform: translate(200px,100px); */
  /* transform: scale(4); */
  /* transform: scaleX(2); */
  /* transform: scaleY(3); */
  /* transform:rotateX(30deg) */
  transform:rotateY(-69deg)translateY(200px)scale(2)
}


.circle{
  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  background-color: pink;
  color: white;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
 /* transition: width 2s, height 2s, transform 2s; */
  transition: 8s ease;
  
}
.circle:hover{
  background-color: salmon;
  transform: rotate(360deg);
}
.wrapper{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}